*{
  /* outline: 1px solid red; */
}
img{
  max-width: 100%;
}
body{
  display: flex;
  flex-direction: column;
  
}
#header{
  /* display: flex; */
  justify-content: space-between;
  margin: 0 5%;
  font-size: 1.3em;
}
#carrusel{
  height: 9.09vh;
}
#checkouts{
  padding: 0px 10px;
  background-color: lightcyan;
}
#main{
  margin: 0 5%;
}
#footer{
  margin: 0 5%;
  align-items: flex-end;
}
#prueba{
  background: red;
  display: flex;
}